<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Aditya Birla </title>
<style type="text/css">
.headfot {
  font-size: 16px;
  font-weight: bold
}
 @media screen and (max-device-width: 480px) {
table[class=contenttable] {
  width: 80%;
  margin: auto;
}
.headfot {
  font-size: 11px;
}
}
 @media only screen and (max-width: 630px) {
.headfot {
  font-size: 11px;
}
}
 @media only screen and (max-width :700px) {
.mntable {
  width: 100%;
  margin: auto
}
.contenttable {
  width: 100%;
  margin: auto;
  table-layout: fixed
}
.midbdr {
  width: 100%;
  margin: auto
}
.bannerimg {
  width: 300px;
}
.footer td {
  word-break: break-all;
}
}
</style>
</head>
<body style="background:#d3d3d3; width:100%;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#d3d3d3">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" style="border:none; background:#fff; font-family:'Calibri'; color:#424242;line-height:0;font-size:0px" class="contenttable">
        <tbody>
          <tr>
            <td colspan="3" align="center" valign="top" style="line-height:0; "><img src="https://s3.ap-south-1.amazonaws.com/product-bucket-user/mf/images/emailer/images/abwm_emailer_header.jpg" width="620" height="138" ></td>
          </tr>
<tr>
  <td align="left" valign="top" style="background:#fff"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top" width="20" >
        </td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="line-height:21px; background:#FFF">
            <tbody>
              <tr>
                <td width="3%" height="20" style="line-height:1px; font-size:0px;">&nbsp;</td>
                <td width="94%" style="line-height:1px; font-size:0px; "></td>
                <td width="3%" style="line-height:1px; font-size:0px; ">&nbsp;</td>
              </tr>
              <tr>
                <td height="20" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
                <td align="left" valign="top" style="color:#32363a; font-size:13px;font-family:'Calibri';">Dear <%= userName %>, </td>
                <td style="line-height:1px; font-size:0px; "></td>
              </tr>
              <tr>
                <td height="10" colspan="3" align="left" valign="top" style="line-height:1px; font-size:0px;"></td>
              </tr>
              <tr>
                <td height="20" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
                <td align="left" valign="top" style="color:#32363a; font-size:13px;font-family:'Calibri'; text-align:justify"><%= text %></td>
                <td style="line-height:1px; font-size:0px; "></td>
              </tr>
              <tr>
                <td height="20" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
                <td align="center" valign="top" style="color:#32363a; font-size:13px;font-family:'Calibri';">&nbsp;</td>
                <td style="line-height:1px; font-size:0px; "></td>
              </tr>
              <tr>
                <td height="20" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
                <td height="20" align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:19px; color:#000">Policy Details</td>
                <td style="line-height:1px; font-size:0px; "></td>
              </tr>
              <tr>
                <td height="20" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
                <td align="left" valign="top" style="color:#32363a; font-size:13px;font-family:'Calibri';">&nbsp;</td>
                <td style="line-height:1px; font-size:0px; "></td>
              </tr>
              <tr>
                <td height="1" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
                <td align="left" valign="top" style="color:#32363a; font-size:13px;font-family:'Calibri'; border-left:1px solid #ccc; border-right:1px solid #ccc; border-top:1px solid #ccc;    "></td>
                <td style="line-height:1px; font-size:0px; "></td>
              </tr>
              <tr>
                <td height="20" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
                <td align="left" valign="top" style="color:#32363a; font-size:13px;font-family:'Calibri';"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="10%" align="center" valign="middle" style="color:#000; font-size:13px;font-family:'Calibri'; background:#f6f6f6; border-left:1px solid #CCC; padding-left:10px;"><strong>Sr.&nbsp;No.</strong></td>
                      <td width="1%" align="center" valign="middle" style="color:#666666; font-size:12px;font-family:'Calibri'; background:#f6f6f6;border-right:1px solid #CCC;"></td>
                      <td width="1%" align="center" valign="middle" style="color:#666666; font-size:12px;font-family:'Calibri'; background:#f6f6f6;">&nbsp;</td>
                      <td width="20%" height="40" align="center" valign="middle" style="color:#000; font-size:13px;font-family:'Calibri'; background:#f6f6f6; "><strong>Transaction Id</strong></td>
                      <td width="1%" align="center" valign="middle" style="color:#666666; font-size:12px;font-family:'Calibri'; background:#f6f6f6;border-right:1px solid #CCC;"></td>
                      <td width="1%" align="center" valign="middle" style="color:#666666; font-size:12px;font-family:'Calibri'; background:#f6f6f6;">&nbsp;</td>
                      <td width="21%" align="center" valign="middle" style="color:#000; font-size:13px;font-family:'Calibri'; background:#f6f6f6; "><strong>Sum Assured</strong></td>
                      <td width="1%" align="center" valign="middle" style="color:#666666; font-size:12px;font-family:'Calibri'; background:#f6f6f6;border-right:1px solid #CCC;"></td>
                      <td width="1%" align="center" valign="middle" style="color:#666666; font-size:12px;font-family:'Calibri'; background:#f6f6f6;">&nbsp;</td>
                      <!-- <td width="18%" align="center" valign="middle" style="color:#666666; font-size:12px;font-family:'Calibri'; background:#f6f6f6;border-bottom:1px solid #CCC;">Transaction Date Time</td>
                   <td width="1%" align="center" valign="middle" style="color:#666666; font-size:12px;font-family:'Calibri'; background:#f6f6f6;border-bottom:1px solid #CCC;border-right:1px solid #CCC;"></td> -->
                      <td colspan="2" width="23%" align="center" valign="middle" style="color:#000; font-size:13px;font-family:'Calibri'; background:#f6f6f6; "><strong>Members Assured</strong></td>
                      <td width="1%" align="center" valign="middle" style="color:#666666; font-size:12px;font-family:'Calibri'; background:#f6f6f6;border-right:1px solid #CCC;"></td>
                      <td width="1%" align="center" valign="middle" style="color:#666666; font-size:12px;font-family:'Calibri'; background:#f6f6f6;">&nbsp;</td>
                      <td width="23%" align="center" valign="middle" style="color:#000; font-size:13px;font-family:'Calibri'; background:#f6f6f6;border-right:1px solid #CCC; "><strong>Premium</strong></td>
                    </tr>

                    <tr>
                      <td height="13" align="center" valign="top" style="color:#32363a; font-size:13px;font-family:'Calibri';border:1px solid #CCC; border-bottom:none; border-right:none;"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri'; border-top:1px solid #CCC;"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri'; border-top:1px solid #CCC;"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC; border-right:none; border-left:none;"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC;"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC"></td>
                      <td align="left" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC;"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC"></td>
                      <!-- <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC"></td>
                   <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC;"></td> -->
                      <td colspan="2" align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC;"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-top:1px solid #CCC;border-right:1px solid #CCC"></td>
                    </tr>

                    <tr>
                      <td align="center" valign="top" style="color:#767676; font-size:12px;font-family:'Calibri';border-left:1px solid #CCC; border-right:none; border-bottom:1px solid #CCC;">1</td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-bottom:1px solid #CCC;">&nbsp;</td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri'; border-bottom:1px solid #CCC;">&nbsp;</td>
                      <td height="30" align="center" valign="top" style="color:#767676; font-size:12px;font-family:'Calibri';border-bottom:1px solid #CCC; line-height:17px"><strong> <%= transactionId %> </strong></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-bottom:1px solid #CCC;"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-bottom:1px solid #CCC;">&nbsp;</td>
                      <td align="center" valign="top" style="color:#767676; font-size:12px;font-family:'Calibri';border-bottom:1px solid #CCC; line-height:16px;"><strong> <%= sumAssured %></strong></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-bottom:1px solid #CCC;"></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-bottom:1px solid #CCC;">&nbsp;</td>
                      <td colspan="2" align="center" valign="top" style="color:#767676; font-size:12px;font-family:'Calibri';border-bottom:1px solid #CCC;"><strong> <%= totalMembers %>
                      
                        </strong></td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-bottom:1px solid #CCC;">&nbsp;</td>
                      <td align="center" valign="top" style="color:#32363a; font-size:12px;font-family:'Calibri';border-bottom:1px solid #CCC;">&nbsp;</td>
                      <td align="center" valign="top" style="color:#767676; font-size:12px;font-family:'Calibri';border-right:1px solid #CCC;border-bottom:1px solid #CCC;"><span style="color:#1e9c11; font-weight:bold">Rs.&nbsp; <%= premiumAmount %>&nbsp;&nbsp;</span></td>
                    </tr>
                   
                  
                  </table></td>
                <td style="line-height:1px; font-size:0px; "></td>
              </tr>
              <tr>
                <td height="20" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
                <td align="left" valign="top" style="color:#32363a; font-size:13px;font-family:'Calibri';"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">                    
                    <tr>
                      <td height="30" colspan="3" align="right" valign="middle" style="background:#f3f4f4;color:#000; font-family:'Calibri';font-size:12px; line-height:15px; text-align:right; padding-right:10px;  "><strong>Total Amount  &nbsp;&nbsp; ₹</strong><strong> <%= totalPremium %> </strong></td>
                    </tr>
                </table></td>
                <td style="line-height:1px; font-size:0px; "></td>
              </tr>
              <tr>
                <td height="10" colspan="3" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
              </tr>
              <tr>
                <td height="20" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
                <td align="left" valign="top" style="color:#32363a; font-size:13px;font-family:'Calibri';"><table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
                    <tr>
                      <td height="40" colspan="3" align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:19px; color:#000">Insured Details</td>
                    </tr>
                    <tr>
                      <td width="165" align="right" valign="middle" style="background:#ffffff; border:1px solid #cccccc; padding:0;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="10%" height="35px" align="left" style="color:#000; font-size:13px; font-family:Calibri, Helvetica, sans-serif; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc;background:#f6f6f6; padding-left:10px;"><strong>Sr. No</strong> </td>
                            <td width="40%" align="left" style="color:#000; font-size:13px; font-family:Calibri, Helvetica, sans-serif; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc;background:#f6f6f6; padding-left:10px;"><strong>Member Name</strong></td>
                            <td width="25%" align="left" style="color:#000; font-size:13px; font-family:Calibri, Helvetica, sans-serif; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; padding-left:10px;background:#f6f6f6;"><strong>Date of Birth</strong></td>
                            <td width="25%"  align="left" style="color:#000; font-size:13px; font-family:Calibri, Helvetica, sans-serif; border-bottom:1px solid #cccccc; padding-left:10px;background:#f6f6f6;"><strong>Relationship</strong></td>
                          </tr>
                          <tr>
                            <td width="10%" height="30px" align="left" style="color:#767676; font-size:12px; font-family:Calibri, Helvetica, sans-serif; border-right:1px solid #cccccc; padding-left:10px;"><strong>1</strong> </td>
                            <td width="40%" height="30px" align="left" style="color:#767676; font-size:12px; font-family:Calibri, Helvetica, sans-serif; border-right:1px solid #cccccc; padding-left:10px;"><strong> <%= userName %> </strong></td>
                            <td width="25%" height="30px" align="left" style="color:#767676; font-size:12px; font-family:Calibri, Helvetica, sans-serif; border-right:1px solid #cccccc; padding-left:10px;"><strong> <%= userDOB %> </strong></td>
                            <td width="25%" height="30px"  align="left" style="color:#767676; font-size:12px; font-family:Calibri, Helvetica, sans-serif; padding-left:10px;"><strong>SELF</strong></td>
                          </tr>                          
                            <% var srNo = 2; %>    
                            <% for(var i=0; i < data.length; i++) { %>
                          
                            <tr>
                                <td width="10%" height="30px" align="left"
                                  style="color:#767676; font-size:12px; font-family:Calibri, Helvetica, sans-serif; border-right:1px solid #cccccc; padding-left:10px;">
                                  <strong><%= srNo %></strong> </td>
                                <td width="40%" height="30px" align="left"
                                  style="color:#767676; font-size:12px; font-family:Calibri, Helvetica, sans-serif; border-right:1px solid #cccccc; padding-left:10px;">
                                  <strong><%= data[i].FirstName %></strong></td>
                                <td width="25%" height="30px" align="left"
                                  style="color:#767676; font-size:12px; font-family:Calibri, Helvetica, sans-serif; border-right:1px solid #cccccc; padding-left:10px;">
                                  <strong><%= data[i].DOB %></strong></td>
                                <td width="25%" height="30px" align="left"
                                  style="color:#767676; font-size:12px; font-family:Calibri, Helvetica, sans-serif; padding-left:10px;">
                                  <strong><%= data[i].Relation %></strong></td>
                            </tr>
                            <% srNo++; %>
                            <% } %>
                        </table>
                      </td>
                    </tr>
                  </table></td>
                <td style="line-height:1px; font-size:0px; "></td>
              </tr>
              <tr>
                <td height="20" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
                <td align="left" valign="top" style="color:#32363a; font-size:13px;font-family:'Calibri';">&nbsp;</td>
                <td style="line-height:1px; font-size:0px; "></td>
              </tr>
              
              <tr>
                <td height="20" align="left" valign="top" style="line-height:1px; font-size:0px; "></td>
                <td align="left" valign="top" style="color:#000; font-size:13px;font-family:'Calibri';line-height:18px;">We will issue the policy in 4-5 working days.</td>
                <td style="line-height:1px; font-size:0px; "></td>
              </tr>
              <tr>
                <td style=" color:#000; font-family:'Calibri';font-size:13px; line-height:17px; text-align:left  "></td>
                <td style=" color:#000; font-family:'Calibri';font-size:13px; line-height:19px; text-align:left  ">We are delighted that you have chosen Aditya Birla Finance Limited, and will be happy to assist with any questions or queries. We can be reached at <strong>1800-270-7000 (10 am - 7 pm, Mon - Sat)</strong> or on <a href="mailto:care.wealthmanagement@adityabirlacapital.com" style="color:#000"><strong>care.wealthmanagement@adityabirlacapital.com</strong></a></td>
                <td style=" color:#000; font-family:'Calibri';font-size:13px; line-height:17px; text-align:left  ">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3" height="20"></td>
              </tr>
              <tr>
                <td style=" color:#ca1f34; font-family:'Calibri';font-size:13px; line-height:13px; text-align:left  ">&nbsp;</td>
                <td style=" color:#ca1f34; font-family:'Calibri';font-size:13px; line-height:13px; text-align:left  ">Happy Investing!</td>
                <td style=" color:#ca1f34; font-family:'Calibri';font-size:13px; line-height:13px; text-align:left  ">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3" height="15"></td>
              </tr>
              <tr>
                <td height="20" align="left" valign="top" style=" color:#000; font-family:'Calibri';font-size:13px; line-height:13px; text-align:left  ">&nbsp;</td>
                <td height="20" align="left" valign="top" style=" color:#000; font-family:'Calibri';font-size:13px; line-height:13px; text-align:left  ">Sincerely,</td>
                <td height="20" align="left" valign="top" style=" color:#000; font-family:'Calibri';font-size:13px; line-height:13px; text-align:left  ">&nbsp;</td>
              </tr>
              <tr>
                <td height="24" align="left" valign="top" style=" color:#000; font-family:'Calibri';font-size:13px; line-height:13px; text-align:left  ">&nbsp;</td>
                <td height="24" align="left" valign="top" style=" color:#000; font-family:'Calibri';font-size:13px; line-height:13px; text-align:left  ">Team Aditya Birla Finance Limited</td>
                <td height="24" align="left" valign="top" style=" color:#000; font-family:'Calibri';font-size:13px; line-height:13px; text-align:left  ">&nbsp;</td>
              </tr>
              <tr>
                <td height="20" align="right" style=" color:#2e3192; font-family:'Calibri';font-size:13px; line-height:11px; text-align:right  ">&nbsp;</td>
                <td height="20" align="right" style=" color:#2e3192; font-family:'Calibri';font-size:13px; line-height:11px; text-align:right  "><a href="#" style="color:#2e3192; font-size:11px; ">T&amp;C of the website will be applicable.</a></td>
                <td height="20" align="right" style=" color:#2e3192; font-family:'Calibri';font-size:13px; line-height:11px; text-align:right  ">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3" align="center" bgcolor="#ffffff"><table width="96%" border="0" cellspacing="0" cellpadding="1">
                    <tr>
                      <td height="54" align="center" valign="middle" style="background:#77787b; color:#fff; font-family:'Calibri';font-size:13px; line-height:11px; text-align:center  "><table width="94%" border="0" align="center" cellpadding="1" cellspacing="0">
                          <tr>
                            <td height="17" colspan="5" align="left" valign="middle" style="color:#fff; font-family:'Calibri';font-size:12px; line-height:11px;  ">For any service related queries, please contact us:</td>
                          </tr>
                          <tr>
                            <td width="19%"><table width="90%" border="0" cellspacing="0" cellpadding="1">
                                <tr>
                                  <td width="20%" align="left" valign="middle"><img src="https://s3.ap-south-1.amazonaws.com/product-bucket-user/health-insurance/images/emailer-images/contact1.gif" width="19" height="23"></td>
                                  <td width="80%" align="left" valign="middle" style="color:#fff; font-family:'Calibri';font-size:11px; line-height:11px;  "><a href="telto:1800-270-7000" style="color:#FFF; text-decoration:none">1800-270-7000</a></td>
                                </tr>
                              </table></td>
                            <td width="8%" align="center" valign="middle"><img src="https://s3.ap-south-1.amazonaws.com/product-bucket-user/health-insurance/images/emailer-images/contactdivider.gif" width="6" height="25"></td>
                            <td width="41%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="1">
                                <tr>
                                  <td width="17%"><img src="https://s3.ap-south-1.amazonaws.com/product-bucket-user/health-insurance/images/emailer-images/contact2.gif" width="26" height="20"></td>
                                  <td width="83%" style="color:#fff; font-family:'Calibri';font-size:11px; line-height:11px;  "><a style="color:#fff; font-family:'Calibri';font-size:11px; line-height:11px;text-decoration:none" href="mailto:care.wealthmanagement@adityabirlacapital.com">care.wealthmanagement@adityabirlacapital.com</a></td>
                                </tr>
                              </table></td>
                            <td width="5%" align="center" valign="middle"><img src="https://s3.ap-south-1.amazonaws.com/product-bucket-user/health-insurance/images/emailer-images/contactdivider.gif" width="6" height="25"></td>
                            <td width="27%" align="center" valign="middle"><table width="90%" border="0" cellspacing="0" cellpadding="1">
                                <tr>
                                  <td width="20%" align="left" valign="middle"><img src="https://s3.ap-south-1.amazonaws.com/product-bucket-user/health-insurance/images/emailer-images/iconweb.jpg" width="28" height="24"></td>
                                  <td width="80%" align="left" valign="middle" style="color:#fff; font-family:'Calibri';font-size:11px; line-height:11px;  "><a href="https://mywealth.adityabirlacapital.com" style="color:#FFF;text-decoration:none" target="_blank">mywealth.adityabirlacapital.com</a></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td colspan="3" align="center" valign="top" bgcolor="#ffffff" style="color:#000; font-family:'Calibri';font-size:13px; line-height:12px; "><table width="96%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td height="2" align="left"  style="color:#000; font-family:'Calibri';font-size:13px; line-height:11px; text-align:center "></td>
                    </tr>
                    <tr>
                      <td align="left" height="20" style="color:#000; font-family:'Calibri';font-size:11px; line-height:16px; text-align:center ">R Tech Park, 12th Floor, Nirlon Compound, Off Western Express Highway, Goregaon East, Mumbai - 400 063.<br>
                        CIN: U93000MH2008PLC186669.</td>
                    </tr>
                    
                    <tr>
                      <td height="4" align="center" style="color:#000; font-family:'Calibri';font-size:13px; line-height:11px;  text-align:center "></td>
                    </tr>
                  </table></td>
              </tr>
            </tbody>
          </table></td>
        <td width="20" align="left" valign="top"></td>
      </tr>
      <tr>
        <td colspan="3" align="left" valign="top" >&nbsp;</td>
      </tr>
    </table></td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</body>
</html>